<html>
 <head>
    <title>OBL</title>
    <link rel="icon" href="/static/logos/obl-alt.svg"/>
    <!-- open graph tags -->
    <meta charset="UTF-8"/>
    <meta property="og:title" content="OpenBotList" />
    <meta property="twitter:description" content="Its time to ditch Top.gg! OpenBotList is an open source botlist for Discord, Revolt, Telegram and Guilded. We also have sex" />   
    <meta content="https://cdn.glitch.com/20fa5251-77f5-4a4c-b8a3-330e4a4369ef/obl-banner-png" property="og:image">
    <meta content="summary_large_image" name="twitter:card">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- css -->       
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JS -->
    <script src="/static/improve/atb.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
    <div class="mx-8"><%- include("./components/Nav.ejs") %></div>

  <body>
    <div class="grid place-items-center mt-16">
        <img src="https://www.memecreator.org/static/images/memes/5331753.jpg" class="w-80 h-80 mask mask-squircle" alt="_botav" />
    </div>
    
    <div>
      <div class="grid place-items-center mt-6">
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Bot name</h2>
            <p>short desc idk</p>
            <div class="card-actions justify-end">
              <a href="">
                <button class="btn btn-primary">Add to Discord</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
      
       


</html>
