<head>
  <title><%=title?title:"OpenBotList"%></title>
  <link rel="icon" href="/static/logos/obl-alt.svg" />
    <!-- open graph tags -->
  <meta property="og:title" content="<%=title?title:"OpenBotList"%>" />
  <meta property="twitter:description"  content="<%=description?description:"Its time to ditch Top.gg! OpenBotList is an open source botlist for Discord, Revolt, Telegram and Guilded. We also have sex"%>" />
  <meta content="https://cdn.glitch.com/20fa5251-77f5-4a4c-b8a3-330e4a4369ef/obl-banner-png" property="og:image"/>
  <meta content="summary_large_image" name="twitter:card" />
    <!-- css -->
  <script src="https://cdn.tailwindcss.com/"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Sigmar+One&display=swap&family=Roboto:wght@500&display=swap" rel=stylesheet>
</head>
