<!--
    This Source Code Form is subject to the terms of the GNU General Public License:
 
    Copyright (C) 2021-2022 OpenBotList Foundation

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see https://www.gnu.org/licenses/.
-->
<!DOCTYPE html>
<html lang="en">
  <%-include("./head.ejs", {title: "", description: ""})%>
  
  <body style="overflow-y: hidden;" class="bg-gradient-to-r from-violet-300 to-violet-400">
    <%-include("./nav.ejs", {})%>
     <!-- div center -->
    <div class="flex justify-center items-center h-screen" style="pointer-events: none;">
    <h1 class="font-bold text-5xl text-white">  
Your personal data is not Top.gg's business
      </h1>
      <p class="font-bold text-white">
         For everyone who’s had enough of Topgg tracking, OpenBotList lets you take back your privacy NOW!
       </p>
      <br />
    </div>
  </body>
</html>
